@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {} */
@layer base {
  body {
    @apply text-sm bg-slate-100;
  }
}

@layer components {
  .input {
    @apply rounded-sm bg-gray-100 shadow-sm outline-none py-1 px-2 text-gray-600 text-xs;
  }

  .input_cont {
    @apply w-[50vw] flex flex-col space-y-1;
  }

  .btn_signup {
    @apply bg-blue-500 py-1 px-3 rounded-sm hover:opacity-90 transition-opacity duration-200;
  }

  .input_error {
    @apply text-red-500 text-[10px] italic;
  }
}
